th {
  font-weight: bold;
  text-align: center;
}

tr, td {  
  text-align: center;
  height: 4vh;    
}


td, th {
  padding-left: 1.5vb;
  padding-right: 1.5vb;  
}

th:not(:first-child):not(.email-column) {
  width: 7vw;
}

.email-column {
  width: 10vw;
}

table {
  width: 100%;  
}

table tr {
  background-color: antiquewhite;
}

table tr:nth-child(odd) td{
  background-color: aquamarine;
}

table tr:nth-child(even) td{
  background-color: antiquewhite;
}

table tr td th {
  border-color: #3498DB;
}

.delete-button:hover {
  cursor: pointer;
}

.table-foot {
  justify-content: flex-end;
}