th {
  font-weight: bold;
  text-align: center;
}

tr, td {  
  text-align: center;
  height: 4vh;    
}


td, th {
  padding-left: 1.5vb;
  padding-right: 1.5vb;  
}

th:not(:first-child):not(.email-column) {
  width: 7vw;
}

.email-column {
  width: 10vw;
}

table {
  width: 100%;  
}

.column-titles {
  background-color: #63b8f0;
}

tr:nth-child(odd):not(.column-titles){
  background-color: aquamarine;
}

tr:nth-child(even):not(.column-titles){
  background-color: antiquewhite;
}

.delete-button:hover {
  cursor: pointer;
}

.table-foot {
  justify-content: flex-end;
}